<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<string>京</string>
	<key>2</key>
	<string>冀</string>
	<key>3</key>
	<string>津</string>
	<key>4</key>
	<string>沪</string>
	<key>5</key>
	<string>粤</string>
	<key>6</key>
	<string>浙</string>
	<key>7</key>
	<string>川</string>
	<key>8</key>
	<string>渝</string>
	<key>9</key>
	<string>苏</string>
	<key>10</key>
	<string>鄂</string>
	<key>11</key>
	<string>陕</string>
	<key>12</key>
	<string>黑</string>
	<key>13</key>
	<string>吉</string>
	<key>14</key>
	<string>辽</string>
	<key>15</key>
	<string>蒙</string>
	<key>16</key>
	<string>鲁</string>
	<key>17</key>
	<string>晋</string>
	<key>18</key>
	<string>甘</string>
	<key>19</key>
	<string>豫</string>
	<key>20</key>
	<string>鄂</string>
	<key>21</key>
	<string>皖</string>
	<key>22</key>
	<string>贵</string>
	<key>23</key>
	<string>湘</string>
	<key>24</key>
	<string>赣</string>
	<key>25</key>
	<string>闽</string>
	<key>26</key>
	<string>桂</string>
	<key>27</key>
	<string>云</string>
	<key>28</key>
	<string>琼</string>
	<key>29</key>
	<string>青</string>
	<key>30</key>
	<string>藏</string>
	<key>31</key>
	<string>新</string>
</dict>
</plist>
